.base_header {
    display: flex;
    width: 75%;
    margin: auto;
}

li {
    list-style: none;
}

.nav_bar {
    display: flex;

}

.nav_bar li {
    margin-right: 15px;
}

#website_title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

#website_title h1{
    margin: 5px;
}

#pt_1{
    font-size: medium;
    font-style: italic;
}

main{
    width: 85%;
    margin: 0 auto;
}

.portals {
    display: flex;
    margin: auto;
}

.portals li {
    margin-right: 30px;
    margin: auto;
    padding: 20px;
    width: 80px;
    border: 1px solid blue;
}

.portals li:hover {
    background-color: lightblue;
}

.objects_list{
    display: flex;
    flex-wrap: wrap;
}

.objects_list div{
    margin-right: 15px;
    border: 1px solid blue;
    padding: 15px;
    margin: 5px;
}

.objects_list div:hover{
    background-color: lightblue;
}

.edit_delete_buttons{
    margin-top: 20px;
    display: flex;
}

.edit_delete_buttons div{
    margin-right: 15px;
}

.adventurer_input{
    margin-bottom: 15px;
    margin-left: 30%;
}

.lesson_input{
    margin-bottom: 15px;
    margin-left: 30%;
}

.enroll_button{
    margin-left: 30%;
}