{% extends 'base.html'%}

{% block content %}

<h2>Lessons</h2>

<main>
    <body>
        <section class="objects_list">
            <div>
                <a href="/lessons/new">Create New lesson</a>
                <p></p>
            </div>
            {% for lesson in lessons %}
            <div>
                <a href="/lessons/{{lesson.id}}">{{lesson.lesson_name}}</a>
                <p></p>
            </div>
            {% endfor %}
        </section>
    </body>
</main>

{% endblock %}