{% extends 'base.html'%}

{% block content %}
<h2>{{lesson.lesson_name}}</h2>
<h3>{{lesson.lesson_description}}</h3>
<h4>Recommended for:&nbsp;{{lesson.recommended_for}}</h4>

<div>
    <form action="/lessons/{{lesson.id}}/edit">
        <button type="submit">
            Edit {{lesson.lesson_name}}
        </button>
    </form>
    <p></p>
</div>

<section>
    <div>
        <a href="/bookings/new">Enrol another Adventurer</a>
        <p></p>
        {% for adventurer in adventurers %}
        <div>
            <a href="/adventurers/{{adventurer.id}}">{{adventurer.first_name}}&nbsp;{{adventurer.last_name}}</a>
            <p></p>
        </div>
        {% endfor %}
</section>
{% endblock %}