{% extends 'base.html'%}

{% block content %}
<main>
    <body>
        <p>
            This is your home page, below are the portals that will transport you elsewhere!
        </p>
        <p>
            One leads to <strong>Lessons</strong> and the other leads to <strong>Adventurers</strong>.
        </p>

        <ul>
            <li>
                <a href="/lessons">Lessons</a>
            </li>
            <li>
                <a href="/adventurers">Adventurers</a>
            </li>
        </ul>
    </body>
</main>
{% endblock %}